body {
  height: 100vh;
  margin: 0px;
  --container-background-color: #f5e6cc;
  --top-header-background-color: #8b5a2b;
  --card-background-color: #f6f1e8;
  --card-text-icons-color: #a9a9a9;
  --card-border-color: #d5d5d5;
  --button-background-color: #34a387;
  --button-text-color: #f5e6cc;
  background-color: var(--container-background-color);
}
@font-face {
  font-family: Rubik;
  src: url(Rubik-Regular.woff);
}
* {
  font-family: Rubik;
}
*::selection {
  background-color: var(--accent-color);
}
p {
  font-size: clamp(2rem, 4vw+1rem, 3rem);
}
.header {
  display: flex;
  font-weight: 800;
  width: 100vw;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--card-border-color);
}
.add-book-btn-container{
  padding: 10px;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
ul {
  list-style-type: none;
}
#library {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.book {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 20px;
  border: 1px solid var(--card-border-color);
  /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.064); */
  border-radius: 20px;
  background-color: var(--card-background-color);
  gap: 10px;
}
.book-attribute {
  display: flex;
}
dialog {
  border: 0px var(--accent-color);
  border-radius: 5%;
  padding: 30px;
}
::backdrop {
  background-color: black;
  opacity: 0.65;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.deleteBookBtn,
.edit-book-btn {
  width: 50px;
}
.buttons {
  display: flex;
  gap: 5px;
}
.edit-book-btn {
  width: fit-content;
  height: 25px;
}
button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-family: Rubik;
  position: relative;
  border: 1px;
  font-weight: 450;
  border-radius: 5%;
  width: 80px;
  height: 30px;
}
button:active {
  top: 1px;
}
